.avatarSelecta {
	background-image : url("../img/avatar/btn/category_a01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	margin : 5% auto;
}
.avatarSelecta:active {
	background-image : url("../img/avatar/btn/category_a02.png");
}
.avatarSelecta a{
	display:block;
	width:99%;
	padding-bottom:23%;
}

.avatarSelectb {
	background-image : url("../img/avatar/btn/category_b01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	margin : 5% auto;
}
.avatarSelectb:active {
	background-image : url("../img/avatar/btn/category_b02.png");
}
.avatarSelectb a{
	display:block;
	width:99%;
	padding-bottom:23%;
}

.avatarSelectc {
	background-image : url("../img/avatar/btn/category_c01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	margin : 5% auto;
}
.avatarSelectc:active {
	background-image : url("../img/avatar/btn/category_c02.png");
}
.avatarSelectc a{
	display:block;
	width:99%;
	padding-bottom:23%;
}

.avatarSelectd {
	background-image : url("../img/avatar/btn/category_d01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	margin : 5% auto;
}
.avatarSelectd:active {
	background-image : url("../img/avatar/btn/category_d02.png");
}
.avatarSelectd a{
	display:block;
	width:99%;
	padding-bottom:23%;
}

.avatarSelecte {
	background-image : url("../img/avatar/btn/category_e01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	margin : 5% auto;
}
.avatarSelecte:active {
	background-image : url("../img/avatar/btn/category_e02.png");
}
.avatarSelecte a{
	display:block;
	width:99%;
	padding-bottom:23%;
}