.compound {
	position : relative;
	background-image : url("../img/frame/sFrame3-1.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 90%;
	padding-bottom: 30%;
	margin : 0 auto;
}
.compoundFrame
{
	position : relative;
	background-image : url("../img/frame/sFrame3-1.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 90%;
	padding-bottom: 30%;
	margin : 0 auto;
}
div.compound:hover{
	cursor:pointer;
}
.weaponThum {
	position : absolute;
	top : 14%;
	left : 13%;
	width : 24%;
}
.name{
	color:#513933;
	position:absolute;
	top:13%;
	left:40%;
}
 .atatck {
	color: #513933;
	position : absolute;
	font-size : 0.6em;
	top : 35%;
	left : 40%;
}
.status
{
	color: #513933;
	position:absolute;
	font-size:0.6em;
	top:36.5%;
	left:40%;
}
.skill{
	color: #513933;
	position:absolute;
	font-size:0.6em;
	top:52.5%;
	left:40%;
}
.description {
	color: #513933;
	position:absolute;
	font-size:0.6em;
	top:70%;
	left:40%;
}
.modalCompound{
	position:fixed;
	display:none;
	z-index:51;
	margin:0;
	background-image:url("../img/frame/rFrame03.png");
	background-size:contain;
	background-repeat:no-repeat;
	width:90%;
}
.modalRelative {
	position:relative;
	width:90%;
	padding-bottom: 80%;
	margin:0 auto;
}
.modalYes{
	position:absolute;
	background-image:url("../img/btn/bGeneral01.png");
	background-size:contain;
	top:50%;
	left:10%;
}
.modalYes:hover{
	cursor:pointer;
}
.modalYes:active{
	background-image:url("../img/btn/bGeneral02.png");
}
.modalNo{
	position:absolute;
	background-image:url("../img/btn/bGeneral01.png");
	background-size:contain;
	background-repeat:no-repeat;
	top:70%;
	left:10%;
}
.modalNo:hover{
	cursor:pointer;
}
.modalNo:active{
	background-image:url("../img/btn/bGeneral02.png");
}
.modalName{
	color:#513933;
	position:absolute;
	font-size : 1.3em;
	top:13%;
	left:40%;
}
 .modalAtatck {
	color: #513933;
	position : absolute;
	font-size : 1.1em;
	top : 30%;
	left : 40%;
}
.modalSkill{
	color: #513933;
	position:absolute;
	font-size:1.1em;
	top:40%;
	left:40%;
}
.modalDescription {
	color: #513933;
	position:absolute;
	font-size:1.1em;
	top:50%;
	left:40%;
}
.modalSuccess {
	color: #513933;
	position:absolute;
	font-size:1.1em;
	top:60%;
	left:40%;
}
.modalResult {
	position:fixed;
	display:none;
	z-index:51;
	margin:0;
	background-image:url("../img/frame/rFrame01.png");
	background-size:contain;
	background-repeat:no-repeat;
	width:90%;
}
.resultRelative {
	position:relative;
	width:90%;
	padding-bottom: 50%;
	margin:0 auto;
}
.resultText{
	position:absolute;
	font-size:1.1em;
	color: #513933;
	top:30%;
	left:27%;
}
.modalOk{
	position:absolute;
	background-image:url("../img/btn/bGeneral01.png");
	background-size:contain;
	top:50%;
	left:37%;
}
.modalOk:hover{
	cursor:pointer;
}
.modalOk:active{
	background-image:url("../img/btn/bGeneral02.png");
}

.eventCompound{
    width: 66%;
    position: absolute;
    top: 19%;
    left: 34%;
}