.item {
	position : relative;
	background-image : url("../img/frame/sFrame3-1.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	padding-bottom: 26.6%;
	margin : 0 auto;
}

.cannotBuy {
	position : relative;
	background-image : url("../img/frame/gFrame3-1.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	padding-bottom: 26.6%;
	margin : 0 auto;
}

div.thumbnail {
	position : relative;
}

.thumbnail {
	position : absolute;
	top : 12%;
	left : 8%;
	width : 26%;
}

.modalThumbnail {
	position : absolute;
	top : 8%;
	left : 8%;
	width : 30%;
}

.name {
	color: #513933;
	position : absolute;
	top : 15%;
	left : 36%;
}

.nameModal {
	color: #513933;
	position : absolute;
	top : 15%;
	left : 39%;
	font-size : 1.6em;
}

.selectNum {
	color: #513933;
	position : absolute;
	top : 28%;
	left : 40%;
}

.totalGold {
	color: #513933;
	position : absolute;
	top : 28%;
	left : 53%;
}

.showResult {
	color: #513933;
	position : absolute;
	top : 40%;
	left : 40%;
}

.status {
	color: #513933;
	position : absolute;
	font-size : 0.6em;
	top : 38%;
	left : 36%;
}

.price {
	color: #683933;
	position : absolute;
	top : 55%;
	left : 36%;
}

.confirmStatus {
	color: #513933;
	position : absolute;
	font-size : 0.6em;
	top : 20%;
	left : 40%;
}

.itemConfirm {
	z-index:51;
	display:none;
	position:fixed;
	margin:0;
	padding: 35% 50%;
	background-image : url("../img/frame/rFrame03.png");
	background-size : contain;
	background-repeat : no-repeat;
}

.itemp{
	color: #ffffff;
}

.pstatus {
	color: #513933;
	font-size : 0.7em;
}

.text {
	z-index:51;
	position : absolute;
	background-image : url("../img/btn/bGeneral01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 35%;
	top : 60%;
	left : 16%;
}

.text:active {
	background-image : url("../img/btn/bGeneral02.png");
}

.hp {
	background-image:url("../img/item/hp_01.png");
	width: 100%;
    height: 70px;
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
}

.hp:active{
	background-image:url("../img/item/hp_02.png");
}

.ap {
	background-image:url("../img/item/ap_01.png");
	width: 100%;
    height: 70px;
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
}

.ap:active{
	background-image:url("../img/item/ap_02.png");	
}

.support {
	background-image:url("../img/item/saport_01.png");
	width: 100%;
    height: 70px;
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
}

.support:active{
	background-image:url("../img/item/saport_02.png");	
}

.menuBox{
	height:100px;
	margin-top:5px;
}

.box{
	width:20%;
	height:15%;
	display:inline-block;
}

.itemSelect {
	font-size : 0.8em;
}
.modalResult {
	position:fixed;
	display:none;
	z-index:51;
	margin:0;
	background-image:url("../img/frame/rFrame01.png");
	background-size:contain;
	background-repeat:no-repeat;
	width:90%;
}
.resultRelative {
	position:relative;
	width:90%;
	padding-bottom: 50%;
	margin:0 auto;
}
.resultText{
	position:absolute;
	font-size:0.9em;
	color: #513933;
	top:25%;
	left:20%;
}
.modalOk{
	position:absolute;
	background-image:url("../img/btn/bGeneral01.png");
	background-size:contain;
	top:50%;
	left:37%;
}
.modalOk:hover{
	cursor:pointer;
}
.modalOk:active{
	background-image:url("../img/btn/bGeneral02.png");
}

.modalNo{
	position:absolute;
	background-image:url("../img/btn/bGeneral01.png");
	background-size:contain;
	top:60%;
	right:13%;
	width : 35%;
}
.modalNo:hover{
	cursor:pointer;
}
.modalNo:active{
	background-image:url("../img/btn/bGeneral02.png");
}