.avatar {
	width: 100%;
	margin-bottom: 20px; 
	background: #ffffff;
	color: #000000;
	position: relative;
	z-index: 0;
}
.avatar .bg {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.avatar .a1 {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.avatar .body {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.avatar .b {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.avatar .c {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.avatar .d {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.avatar .a2 {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.avatar .e {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.avatar .weapon {
	position: absolute;
	width: 20%;
	left: 1%;
	bottom: 1%;
}
.avatar .armor {
	position: absolute;
	width: 13%;
	left: 8.6%;
	bottom: 1%;
	top : 73%;
}

/* balloon-1 top */


.stage{ /*ダンジョンボタン*/
	background-image: url("../img/mypage/btn_stage_a.png");
	background-size: contain;
	background-repeat:no-repeat;
	padding-bottom:19%;
	width:45%;
	display:inline-block;
	
}
.stage:active{/*ダンジョンボタンを押した時の画像*/
	background-image: url("../img/mypage/btn_stage_b.png");

}
.arms{/*武器強化ボタン*/
	background-image: url("../img/mypage/btn_arms_a.png");
	background-size: contain;
	background-repeat:no-repeat;
	padding-bottom:19%;
	width:45%;
	display:inline-block;
}
.arms:active{/*武器強化ボタンを押したときの画像*/
	background-image: url("../img/mypage/btn_arms_b.png");
}
.equip{/*装備ボタン*/
	background-image: url("../img/mypage/btn_equip_a.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom:19%;
	width:45%;
	display:inline-block;
}
.equip:active{/*装備ボタンを押したときの画像*/
	background-image: url("../img/mypage/btn_equip_b.png");

}
.item{/*アイテムボタン*/
	background-image: url("../img/mypage/btn_item_a.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom:19%;
	width:45%;
	display:inline-block;
}
.item:active{/*アイテムボタンを押した時の画像*/
	background-image: url("../img/mypage/btn_item_b.png");
}
.shop{/*ショップボタン*/
	background-image: url("../img/mypage/btn_shop_a.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom:19%;
	width:45%;
	display:inline-block;
}
.shop:active{/*ショップボタンを押したときの画像*/
	background-image: url("../img/mypage/btn_shop_b.png");
}
.present{/*受け取り箱ボタン*/
	background-image: url("../img/mypage/btn_present_a.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom:19%;
	width:45%;
	display:inline-block;
}
.present:active{/*受け取りボタンを押したときの画像*/
	background-image: url("../img/mypage/btn_present_b.png");
}
.my_menu {
	height:auto;
	margin-top:auto;;
}
.statusFrame {/*ステータスの枠*/
	position : relative;
	background-image: url("../img/top/text_waku01.png");	/*背景画像を読み込む*/
	background-repeat: no-repeat;	/*背景が何回も繰り返しできるところ*/
	background-size:contain;
	width : 100%;
	padding-bottom: 50%;
	color: #513933;
}

.weaponStatus{/*武器ステータス*/
	position : absolute;
	font-size: 1em;
	top : 24%;
	left : 13%;
}
.armorStatus{/*防具ステータス*/
	position : absolute;
	font-size: 1em;
	top : 40%;
	left : 13%;
}
.skillStatus{/*スキルステータス*/
	position : absolute;
	font-size: 1em;
	top : 57%;
	left : 13%;
}
.attackStatus{/*攻撃ステータス*/
	position : absolute;
	font-size: 1em;
	top : 24%;
	left : 60%;
}
.defenseStatus{/*防御ステータス*/
	position : absolute;
	font-size: 1em;
	top : 40%;
	left : 60%;
}
.avoidanceStatus{/*回避ステータス*/
	position : absolute;
	font-size: 1em;
	top : 57%;
	left : 60%;
}
