.nameChange {
	font-size : 1.2em;
	margin : 5% auto;
}

.afternameForm {
	font-size : 0.9em;
}

.nameChangeSubmit {
	font-size : 0.9em;
}

.speedChange {
	font-size : 1.2em;
	margin : 5% auto;
}

.speedchangeForm {
	font-size : 0.9em;
}