.presentContent{
	background-image:url("../img/frame/sFrame3-1.png");
	background-size:contain;
	background-repeat : no-repeat;
	position:relative;
	padding-bottom: 33%;
}

.thumbnail{
	position:absolute;
	top:13%;
	left:13%;
	width:24.4%;
}

.frame{
	position:absolute;
	top:13%;
	left:5%;
	width : 90%;
}

.presentText{
	position:absolute;
	color: #000000;
	top: 25%;
	left: 40%;
}

.allselect {
	position : absolute;
	background-image : url("../img/btn/bGeneral01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 42%;
	top : 10%;
	left : 7%;
}

.allselect:active {
	background-image : url("../img/btn/bGeneral02.png");
}

.allrecieve {
	position : absolute;
	background-image : url("../img/btn/bGeneral01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 42%;
	top : 10%;
	right : 7%;
}

.allrecieve:active {
	background-image : url("../img/btn/bGeneral02.png");
}

.buttons {
	position : relative;
	margin : 0% auto 0% auto;
	padding-bottom : 20%;
}

.simplerecieve {
	position : absolute;
	background-image : url("../img/btn/bGeneral01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 30%;
	top : 46%;
	left : 55%;
}

.simplerecieve:active {
	background-image : url("../img/btn/bGeneral02.png");
}