.weapongachaButton {
	background-image:url("../img/shop/gacha_01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	padding-bottom: 27%;
	left : 24%;
	display:inline-block;
	margin-bottom : 10%;
}

.weapongachaButton:active {
	background-image:url("../img/shop/gacha_02.png");
}

.armorshopButton {
	background-image:url("../img/shop/bouguShop_01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	padding-bottom: 27%;
	left : 24%;
	display : inline-block;
	margin-bottom :10%;
}

.armorshopButton:active {
	background-image:url("../img/shop/bouguShop_02.png");
}

.avatarshopButton {
	background-image:url("../img/shop/fukuya_01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	padding-bottom: 27%;
	left : 24%;
	display : inline-block;
	margin-bottom :10%;
}

.avatarshopButton:active {
	background-image:url("../img/shop/fukuya_02.png");
}

.itemshopButton {
	background-image:url("../img/shop/item_shop_01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	padding-bottom: 27%;
	left : 24%;
	display : inline-block;
	margin-bottom :10%;
}

.itemshopButton:active {
	background-image:url("../img/shop/item_shop_02.png");
}

.roomshopButton {
	background-image:url("../img/shop/furniture_shop_01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	padding-bottom: 27%;
	left : 24%;
	display : inline-block;
	margin-bottom :10%;
}

.roomshopButton:active {
	background-image:url("../img/shop/furniture_shop_02.png");
}

.eventshopButton {
	background-image:url("../img/shop/clearing_house_01.png");
	background-size : contain;
	background-repeat : no-repeat;
	width : 80%;
	padding-bottom: 27%;
	left : 24%;
	display : inline-block;
	margin-bottom :10%;
}

.eventshopButton:active {
	background-image:url("../img/shop/clearing_house_02.png");
}