body{
	padding: 0;
}

.login {
	margin-top: 3.3%;
}
.login_img {
	background-image:url("../img/top/login_01.png");
	background-size:cover;
	-moz-background-size:cover;
	background-repeat: no-repeat;
	width:30%;
	height:10%;
	margin: 0px auto;
	border:0px;
	text-indent:-9999px;
}
.login_img:active {
	background-image:url("../img/top/login_02.png"); 
}

.newsFrame {
	background-image:url("../img/top/text_waku02.png");
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center;
	position:relative;
	width:100%;
	margin:10px auto;
	padding-bottom : 75%;
}
.newsContents {
	position: absolute;
	width:80%;
	height:60%;
	top:25%;
	left:10%;
	overflow-y:scroll;
}
.newsContent{
	color: #513933;
	width:100%;
	margin:0.4em 0;
	text-align: left;
}

.modalNews
{
	position:fixed;
	display:none;
	z-index:51;
	background-image:url("../img/top/text_waku03.png");
	background-size:contain;
	background-repeat:no-repeat;
	width:80%;
	padding-bottom : 134%;
}
.newsDetail
{
	position:absolute;
	color: #513933;
	width:80%;
	height:75%;
	top:12%;
	left:10%;
	overflow-y:scroll;
}
.startView 
{
	text-align:left;
	font-size: 1em;
}
.titleView 
{
	font-size: 1.2em;
	font-weight: bold;
	color: #513933;
	text-align:center;
}
.textView 
{
	font-size: 1em;
	text-align:left;
}

.modalOk{
	position:absolute;
	background-image:url("../img/btn/bGeneral01.png");
	background-size:contain;
	bottom:7%;
	left:37%;
}
.modalOk:hover{
	cursor:pointer;
}
.modalOk:active{
	background-image:url("../img/btn/bGeneral02.png");
}